<!DOCTYPE html>
<html>
<head>
<% include header.html %>
</head>
<script src='/js/index.js'></script>
<body class='w3-light-gray'>
<header class='w3-blue w3-container w3-padding-16'>
 <h2 class='w3-center'><b>Grade Management System</b></h2>
</header>
<article>
 <section class='mainBody w3-left'id='input_form'>
  <% include input_form.ejs %>
 </section>
 <section class='mainBody w3-right w3-responsive'id='list_view'>
 
 </section>
</article>
</body>
</html>
